.chat {
	height: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 25% 1fr;
	grid-template-rows: auto 1fr;
	box-shadow: var(--s-sm);
	padding: var(--p-md);
	border-radius: var(--r-md);
}

.conversation {
	border-left: 1px solid var(--c-lightgray);
	padding-left: 15px;
	grid-row: span 2;
	display: grid;
	grid-template-rows: auto 1fr;
}
