.footer {
	padding: var(--p-md);
	display: grid;
	justify-items: center;
	align-items: center;
	gap: var(--g-sm);
}

.gmail img {
	width: 28px;
}

.gmail p {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
