.header {
	padding: var(--p-md);
	padding-bottom: 0;
	display: grid;
	justify-items: center;
}

.btn {
	display: none;
}

@media (max-width: 768px) {
	.btn {
		display: initial;
		margin-left: auto;
		z-index: 20;
	}
	.btn.cross {
		color: var(--c-green);
	}
	.header {
		display: flex;
		align-items: center;
	}
}
