.login {
	width: 300px;
	display: grid;
	gap: var(--g-md);
	margin-left: auto;
	margin-right: auto;
}

.login a {
	color: var(--c-blue);
	transition: initial;
}

.login a:hover {
	color: var(--c-blue);
}
