:root {
	--min-w-main: 340px;
	--max-w-main: 748px;
}

.app {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.main {
	width: 100%;
	max-width: var(--max-w-main);
	padding: var(--p-md);
	margin-inline: auto;
}
