.messages {
	display: grid;
	grid-template-rows: 1fr auto;
	padding: var(--p-md);
}

.form {
	display: grid;
	gap: var(--g-md);
	grid-template-columns: 1fr auto;
}

.input {
	width: 100%;
}

.visualizer {
	display: grid;
	justify-content: stretch;
	align-content: start;
}

.msg,
.msg_friend {
	padding: var(--p-sm);
	border-radius: var(--r-md);
}

.msg_friend {
	color: var(--c-green);
	margin-left: auto;
}
